<div class="jumbotron">
  <h1>AGRIBIZ 101</h1>
  <button class="btn btn-success"> {{#link-to 'admin'}}Admin{{/link-to}}</button>
</div>
<h3>Welcome to agribiz 101, we'll help transform your produce to the best there is</h3>
<ul>
  {{#each model as |plant|}}
    {{plant-tile plant=plant}}
    {{/each}}
</ul>
