


{{outlet}}
{{search-form plantLookup="plantLookup"}}
<!-- <div class="row">
  <div class="col-md-4">
asdkl mclkajecfnaj
  </div>
  <div class="col-md-4">
kd akla jflsa
  </div>
  <div class="col-md-4 weather">
    {{weather-search weatherLookup="weatherLookup"}}
  </div> -->
  <ul>
    {{#each model as |plant|}}
      {{plant-tile plant=plant}}
      {{/each}}
  </ul>

  Shariff Mohammed [4:23 PM]
<!-- </div> -->
