<div class="search-bar">
  <form>
    <div class="form-group search">
      <label for="food">Food</label> {{input value=food id="food" class='form-control' placeholder="Search for any plant here"}}
      <div class="searchButton">
        <button class="btn btn-primary" {{action 'plantLookup'}}>Search <span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>
  </form>
</div>
